{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>事案編集</title>
    <link rel="stylesheet" href="{% static 'case/style.css' %}">
</head>
<body>

<h1>事案編集</h1>

<form method="post">
    {% csrf_token %}

    <!-- 日付 -->
    <div class="form-group">
        <label>日付</label><br>
        <input type="date" name="incident_date"
               value="{{ post.incident_date|date:'Y-m-d' }}">
    </div>

    <!-- 店舗名 -->
    <div class="form-group">
        <label>店舗名</label><br>
        <input type="text" name="store_name"
               value="{{ post.store_name }}">
    </div>

    <!-- memo -->
    <div class="form-group">
        <label>内容（memo）</label><br>
        <textarea name="memo" rows="6">{{ post.memo }}</textarea>
    </div>

    <!-- 更新 -->
    <button type="submit" class="btn edit">更新</button>
    <a href="{% url 'home' %}" class="btn delete">戻る</a>

</form>

</body>
</html>
